{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="edit-container">
              {% if messages %}
                {% for message in messages %}
                    {% if message.level == 25 %}{% endif %}
                        <div class="p-3 mb-2 bg-success text-white">{{message}}</div>
                {% endfor %}
              {% endif %}
            <div class="col-md-8">
              <div class="panel">
                <div class="panel-body">
                  <h4>Tu cuenta</h4>
                  <form class="" action="index.html" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <input type="hidden" name="action" value="update_data">
                    <div class="row">
                      <div class="col-md-4">
                        {% if request.user.related_user.picture %}
                        <img src="{{request.user.related_user.picture}}" alt="" class="img-responsive img-circle" width="150" height="150">
                        {% endif %}
                        <label class="btn btn-default btn-file">
                          Subir una imagen <input type="file" style="display:none;" name='avatar' accept="image/*" hidden>
                        </label>
                      </div>
                      <div class="col-md-8">
                        <div class="row">
                            <form class="" action="index.html" method="post">
                          <p class="col-md-6">
                            <label for="">Saludo</label>
                            <select class="selectpicker" name="greeting">
                              <option value="Dr">Dr.</option>
                              <option value="Dra">Dra.</option>
                            </select>
                          </p>
                          <p class="col-md-6">
                            <label for="">Género</label>
                            <select class="selectpicker" name="genre">
                              <option value="Masculino">Masculino</option>
                              <option value="Femenino">Femenino</option>
                            </select>
                          </p>
                          <p class="col-md-12 form-group">
                            <label for="">Nombre</label>
                            <input type="text" name="first_name" value="{{request.user.related_user.name}}" class="form-control">
                          </p>
                          <p class="col-md-12 form-group">
                            <label for="">Apellido</label>
                            <input type="text" name="last_name" value="{{request.user.related_user.lastname}}" class="form-control">
                          </p>
                          <p class="form-group col-md-6">
                            <label for="">Especialidad</label>
                            <input type="text" name="specialty" value="{{request.user.related_user.specialty}}" class="form-control">
                          </p>
                          <p class="form-group col-md-6">
                            <label for="">E-mail</label>
                            <input type="text" name="email" value="{{request.user.related_user.email}}" class="form-control">
                          </p>
                        </div>
                        <div class="form-btns">
                          <button type="button" name="button" class="btn-action">
                            Cambiar contraseña
                          </button>
                          <button type="submit" name="data_information" class="btn-action">
                            Guardar cambios
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel centro">
                <div class="panel-body">
                  <h4>Tu centro</h4>
                  <form class="" action="index.html" method="post">
                    <img src="http://placehold.it/120" alt="" class="img-responsive img-circle">
                    <label class="btn btn-default btn-file">
                      Subir una imagen <input type="file" style="display:none;" hidden>
                    </label>
                    <p class="form-group">
                      <label for="">Nombre del centro:</label>
                      <input type="text" name="" value="" class="form-control">
                    </p>
                    <div class="form-btns">
                      <button type="button" name="button" class="btn-action">
                        Guardar cambios
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel plan">
                <div class="panel-body">
                  <h4>Información de tu plan</h4>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="col-md-6">Tipo de plan</td>
                        <td class="col-md-6">Mensual</td>
                      </tr>
                      <tr>
                        <td class="col-md-6">Número de licencias</td>
                        <td class="col-md-6">10</td>
                      </tr>
                      <tr>
                        <td class="col-md-6">Vigencia</td>
                        <td class="col-md-6">30-04-2017</td>
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" name="button" class="btn-action">
                    Comprar licencias
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel pacientes">
                <div class="panel-body">
                  <h4>Tus pacientes</h4>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="col-md-6">Pacientes activos</td>
                        <td class="col-md-6">7/10</td>
                      </tr>
                      <tr>
                        <td class="col-md-6">Pacientes inactivos</td>
                        <td class="col-md-6">5</td>
                      </tr>
                      <tr>
                        <td class="col-md-6">Pacientes en seguimiento</td>
                        <td class="col-md-6">13</td>
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" name="button" class="btn-action">
                    Administrar pacientes
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}

{% block extra_importation %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock extra_importation %}
