<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TOWI</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/avatares.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
      <nav class="navbar navbar-wrapper sidebar" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <h1 class="logo-wrapper">
              <a class="navbar-brand" style="display: flex; justify-content: center; align-items: center;" href="#">
                <img src="{% static 'i/towi.svg'%}" style="height:1.8em" alt="">
              </a>
            </h1>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active open">
                <a href="/home">
                  <span class="menu-icon pull-right hidden-xs showopacity fa fa-home"></span> Inicio
                </a>
              </li>
              <li>
                <a href="/patients">
                  <span class="menu-icon pull-right hidden-xs showopacity fa fa-user-circle"></span> Pacientes
                </a>
              </li>
              <li>
                <a href="/invitaciones">
                  <span class="menu-icon pull-right hidden-xs showopacity fa fa-envelope"></span> Invitaciones
                </a>
              </li>
              <li>
                <a href="/groups">
                  <span class="menu-icon pull-right hidden-xs showopacity fa fa-users"></span> Grupos
                </a>
              </li>
              <li>
                <a href="/information">
                  <span class="menu-icon pull-right hidden-xs showopacity fa fa-cogs"></span> Administrar cuenta
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="menu-icon pull-right hidden-xs showopacity fa fa-vcard"></span> Acerca de Towi
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container-main">
        <header>
          <div class="container-fluid">
            <div class="row">
              <div class="breadcrumb-wrapper">
                <ol class="breadcrumb">
                  <li><a class="active">Inicio</a></li>
                </ol>
              </div>
              <div class="infoMenu-wrapper">
                <div class="dropdown">
                  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="infoDr-text">
                      <p>{{request.user.related_user.get_full_name}}</p>
                      <p>{% if request.user.related_user.user_type == 1 %}Familiar {% else %} {{request.user.related_user.greeting}}. Especialista en {{request.user.related_user.specialty}}{% endif %}</p>
                    </div>
                    {% if request.user.related_user.picture  %}
                        <img src="{{request.user.related_user.picture.url}} " alt="" class="img-circle" width="50" height="50">
                    {% else %}
                        <img src="" alt="" class="img-circle" width="50" height="50">
                    {% endif %}

                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right" aria-labelledby="dLabel">
                    <li>
                      <a href="/information">Administrar cuenta</a>
                    </li>
                    <li>
                      <a href="/logout">Cerrar sesión</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </header>
        {% block content %}{% endblock content %}
      </div>
      {% block extra_importation %}{% endblock extra_importation %}
      {% block javascript %}{% endblock %}

  </body>

  </html>
