{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="edit-container">
            <div class="col-md-12">
              <div class="panel">
                <div class="panel-body">
                  <h3>Información del paciente</h3>
                  <form class="" action="" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="row">
                      <div class="col-md-4">
                        <img src="{{children.picture.url}}" alt="" class="img-responsive img-circle">
                        <label class="btn btn-d.efault btn-file">
                          Sube ó escoge una imagen <input type="file" name="picture" style="display:none;" hidden>
                        </label>
                        <div class="form-avatares">
                          <label>
                            <img src="{% static 'i/avatar-1-g.png' %}" alt="" class="img-circle">
                            <input type="radio" id="radio1" value="https://towistorage.blob.core.windows.net/media/avatar-1-g-150.png" class="hidden" name="options">
                          </label>
                          <label>
                            <img src="{% static 'i/avatar-2-g.png' %}" alt="" class="img-circle">
                            <input type="radio" id="radio2" class="hidden" name="options" value="https://towistorage.blob.core.windows.net/media/avatar-2-g-150.png">
                          </label>
                          <label>
                            <img src="{% static 'i/avatar-3-g.png' %}" alt="" class="img-circle">
                            <input type="radio" id="radio3" class="hidden" name="options" value="https://towistorage.blob.core.windows.net/media/avatar-3-g-150.png">
                          </label>
                      </div>
                        <div class="form-avatares">
                          <label>
                            <img src="{% static 'i/avatar-1-b.png' %}" alt="" class="img-circle">º
                            <input type="radio" id="radio4" class="hidden" name="options" value="https://towistorage.blob.core.windows.net/media/avatar-1-b-150.png">
                          </label>
                          <label>
                            <img src="{% static 'i/avatar-2-b.png'%}" alt="" class="img-circle">
                            <input type="radio" id="radio5" class="hidden" name="options", value="https://towistorage.blob.core.windows.net/media/avatar-2-b-150.png">
                          </label>
                          <label>
                            <img src="{% static 'i/avatar-3-b.png' %}" alt="" class="img-circle">
                            <input type="radio" id="radio6" class="hidden" name="options" value="https://towistorage.blob.core.windows.net/media/avatar-3-b-150.png">
                          </label>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="row">
                          <p class="col-md-4 form-group">
                            <label for="">Nombre</label>
                            <input type="text" name="name" value="{{children.name}}" class="form-control">
                          </p>
                          <p class="col-md-4 form-group">
                            <label for="">Apellido paterno</label>
                            <input type="text" name="f_last" value="{{children.apellido_paterno}}" class="form-control">
                          </p>
                          <p class="col-md-4 form-group">
                            <label for="">Apellido materno</label>
                            <input type="text" name="s_last" value="{{children.apellido_materno}}" class="form-control">
                          </p>
                          <p class="col-md-4 form-group">
                            <label for="">Fecha de nacimiento</label>
                            <input type="date" name="dob" value="{{children.dob|date:"Y-m-d" }}" class="form-control">
                          </p>
                          <p class="col-md-4">
                            <label for="">Género</label>
                            <select class="selectpicker" name="gender">
                              <option value="Masculino" {% if children.genre == "Masculino" %} selected="selected"{% endif %}>Masculino</option>
                              <option value="Femenino" {% if children.genre == "Femenino" %} selected="selected"{% endif %}>Femenino</option>
                            </select>
                          </p>
                          <p class="col-md-4">
                            <label for="">Ciclo escolar</label>
                            <select class="selectpicker" name="grade">
                                <option value="kinder"{% if children.grade == 'kinder' %} selected="selected"{% endif %}>Kinder</option>
                                <option value="preprimaria"{% if children.grade == "preprimaria" %} selected="selected"{% endif %}>Preprimaria</option>
                                <option value="1º Primaria"{% if children.grade == "1º Primaria" %} selected="selected"{% endif %}>1º Primaria</option>
                                <option value="2º Primaria"{% if children.grade == "2º Primaria" %} selected="selected"{% endif %}>2º Primaria</option>
                                <option value="3º Primaria"{% if children.grade == "3º Primaria" %} selected="selected"{% endif %}>3º Primaria</option>
                                <option value="4º Primaria"{% if children.grade == "4º Primaria" %} selected="selected"{% endif %}>4º Primaria</option>
                                <option value="5º Primaria"{% if children.grade == "5º Primaria" %} selected="selected"{% endif %}>5º Primaria</option>
                                <option value="6º Primaria"{% if children.grade == "6º Primaria" %} selected="selected"{% endif %}>6º Primaria</option>
                                <option value="otro"{% if children.grade == "otro" %} selected="selected"{% endif %}>Otro</option>
                            </select>
                          </p>
                          <p class="col-md-12 form-group">
                            <label for="">Diagnóstico</label>
                            <input type="textarea" name="diagnostic" value="{{children.diagnostic}}" class="form-control">
                          </p>

                        </div>
                        <div class="form-btns">
                          <button type="submit" name="button" class="btn-action">
                            <input type="hidden" name="action" value="update_data">
                            Guardar cambios
                          </button>
                          <button type="button" name="button" class="btn-action">
                            Dar de baja al paciente
                          </button>
                          <button type="button" name="button" class="btn-action">
                            Invitar a padre o tutor
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}

{% block extra_importation %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock extra_importation %}
