{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

{% if messages %}
{% for message in messages %}
{% if message.level == 25 %}
    <div class="alert alert-success">
    {{ message }}
    </div>
{% endif %}
{% if message.level == 40 %}
    <div class="alert alert-danger">
    {{ message }}
    </div>
{% endif %}
{% endfor %}
{% endif %}

    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="navbar">
              <div class="dropdown pull-left">
                <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Todos los pacientes
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li>
                        <a class="selectedGroup" id="0">Todos los pacientes</a>
                    </li>
                    {% for group in groups %}
                        <li>
                          <a class="selectedGroup" id="{{group.id}}">{{group.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
              </div>
            </div>
            <div class="lista-pacientes">
              <ul class="panel-list">
                  {% if invitations %}
                  {% for children in invitations %}
                  <li>
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <img src="{{children.picture.url}}" alt="" class="img-circle pull-left avatar80">
                        <p class="pull-left">{{children}}</p>
                        <div class="dropdown pull-right">
                            <form action="" method="post">
                                {% csrf_token %}
                                <button type="submit" name="aceptar" value="{{children.id}}">
                                  Aceptar
                                </button>
                                <button type="submit" name="rechazar" value="{{children.id}}">
                                  Rechazar
                                </button>
                            </form>
                        </div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                  {% else %}
                  <h5>No tienes invitaciones pendientes!</h5><br>
                  {% endif %}
                  {% if vinculated_childs %}
                  <h3>Pacientes Vinculados</h3>
                  {% for children in vinculated_childs %}
                  <li>
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <img src="{{children.picture.url}}" alt="" class="img-circle pull-left avatar80">
                        <p class="pull-left">{{children}}</p>
                        <div class="dropdown pull-right">
                            <form action="" method="post">
                                {% csrf_token %}
                                <button type="submit" name="desvincular" value="{{children.id}}">
                                  Desvincular
                                </button>
                            </form>
                        </div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                  {% else %}
                    <p>No tienes pacientes vinculados.</p><br>
                  {% endif %}
                  {% if own_childs %}
                  <h3>Pacientes Compartidos</h3>
                  {% for children in own_childs %}
                  <li>
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <img src="{{children.picture.url}}" alt="" class="img-circle pull-left avatar80">
                        <p class="pull-left">{{children}}</p>
                        <div class="dropdown pull-right">
                            <form action="" method="post">
                                {% csrf_token %}
                                <button type="submit" name="desvincular" value="{{children.id}}">
                                  Desvincular
                                </button>
                            </form>
                        </div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                  {% else %}
                    <p>No compartes ningun paciente.</p>
                  {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="lista-pacientes">
              <ul class="panel-list">
                  {% if requests_inv %}
                  {% for user in requests_user %}
                  {% for inv in  requests_inv%}
                <li>
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <p class="pull-left">{{user.email}} - {{user.first_name}} quiere seguir uno de tus pacientes</p>
                        <div class="dropdown pull-right">
                            <form action="" method="post">
                                {% csrf_token %}
                                <button type="submit" name="aceptar-seguimiento" value="{{user.id}}">
                                <input type="hidden" name="id_inv" value="{{inv.id}}">
                                    Aceptar
                                </button>
                                <button type="submit" name="rechazar-seguimiento" value="{{user.id}}">
                                    Rechazar
                                </button>
                            </form>
                        </div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                  {% endfor %}
                  {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <form name="formulario" id="formi" method="post">
        {% csrf_token %}
        <input type="hidden" name="groupId" class="groupSelected" value="">
    </form>

{% endblock content %}

{% block extra_importation %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock extra_importation %}
