{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="edit-container">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel registrar-paciente">
                <div class="panel-body">
                  <h4 class="text-center">Invitar a <b>padre o tutor</b></h4>
                  <p class="first-p">Si tu paciente llevará a cabo el entrenamineto fuera del consultorio, añade el correo de su padre o tutor para que pueda iniciar sesión en la aplicación</p>
                  <p>Escribe el mail del padre o tutor de tu paciente y asígnale una contraseña</p>
                  <form class="clearfix" action="" method="post">
                    {% csrf_token %}
                    <p hidden class="email-true">Este usuario ya tiene una cuenta TOWI le avisaremos en su portal.</p>
                    <p hidden class="email-false">Este usuario no tiene una cuenta TOWI creale una contraseña de accesso.</p>
                    <p class="form-group col-md-8">
                      <label for="">E-mail</label>
                      {{form.email}}
                    </p>
                    <p class="password form-group col-md-4">
                      <label for="">Contraseña</label>
                      {{form.password}}
                    </p>
                    <div class="form-btns">
                        <button type="submit" name="inviteParent" class="btn-action">
                         Invitar padre o tutor
                        </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if vinculations %}
        <div class="row">
          <div class="edit-container">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel registrar-paciente">
                <div class="panel-body">
                  <h4 class="text-center">Paciente vinculado con:</b></h4>
                  <form class="clearfix" action="" method="post">
                    {% csrf_token %}
                    {% for vin in vinculations  %}
                        <p class="form-group col-md-8 col-xs-6">
                          <label for="">E-mail:</label><br>
                          {{vin.linked_user.related_user.email}}
                        </p>
                        <div class="col-md-4 col-xs-6">
                            <button type="submit" name="desvincular" class="btn-action">
                                <input type="hidden" name="user" value="{{vin.linked_user.id}}">
                             Desvincular
                            </button>
                        </div>
                    {% endfor %}
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </section>
{% endblock content %}

{% block extra_importation %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script>
       $("#id_email").change(function () {
         var email = $(this).val();

         $.ajax({
           url: '/validate_email/',
           data: {
             'email': email
           },
           dataType: 'json',
           success: function (data) {
             if (data.is_taken) {
               $( ".password" ).hide();
               $( ".email-true" ).show();
             }
             if (data.is_taken == null) {
                 alert("Hubo un error inesperado")
             }
           }
         });
       });
     </script>
{% endblock extra_importation %}
