{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="edit-container">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel licencias">
                <div class="panel-body">
                  <h4 class="text-center">Compra <b>Towi Premium</b></h4>
                  <p class="first-p">Cada licencia de Towi Premium te dará mensualmente los siguientes beneficios para uno de tus pacientes:</p>
                  <div class="row clearfix">
                    <div class="col-md-6 beneficio">
                      <img src="{% static 'i/evaluacion.png' %}" alt="" class="img-circle img-responsive">
                      <div>
                        <h5>Evaluación neuropsicológica Towi</h5>
                        <p>Incluye una aplicación con reporte de resultados</p>
                      </div>
                    </div>
                    <div class="col-md-6 beneficio">
                      <img src="{% static 'i/sesiones.png' %}" alt="" class="img-circle img-responsive">
                      <div>
                        <h5>Sesiones diarias de entrenamiento</h5>
                        <p>Tu paciente podrá entrenar su mente con niveles de nuestras 6 actividades</p>
                      </div>
                    </div>
                    <div class="col-md-6 beneficio">
                      <img src="{% static 'i/reportes.png' %}" alt="" class="img-circle img-responsive">
                      <div>
                        <h5>Reportes de progreso</h5>
                        <p>En cualquier momento podrás consultar el progreso de su entrenamiento</p>
                      </div>
                    </div>
                    <div class="co{l-md-6 beneficio">
                      <img src="{% static 'i/soporte.png' %}" alt="" class="img-circle img-responsive">
                      <div>
                        <h5>Soporte técnico gratuito</h5>
                        <p>¿Tienes dudas? Recibirás soporte técnico gratuito de nuestros agentes</p>
                      </div>
                    </div>
                  </div>
                  <form class="clearfix" action="" method="post">
                    <p>Elige el plan que más te conviene:</p>
                    <div class="form-plan clearfix">
                      <div class="col-md-3">
                        <label class="active">
                          <div class="panel">
                            <div class="panel-heading">
                              <h3 class="panel-title">Mensual</h3>
                              <h6>INDIVIDUAL</h6>
                            </div>
                            <div class="panel-body">
                              <p class="precio">$229 <span>MXN</span></p>
                              <p class="tiempo">/mes</p>
                            </div>
                          </div>
                          <input type="radio" id="radio1" class="hidden" name="options" checked>
                        </label>
                      </div>
                      <div class="col-md-3">
                        <label class="">
                          <div class="panel">
                            <div class="panel-heading">
                              <h3 class="panel-title">Trimestral</h3>
                              <h6>INDIVIDUAL</h6>
                            </div>
                            <div class="panel-body">
                              <p class="precio">$219 <span>MXN</span></p>
                              <p class="tiempo">/mes</p>
                            </div>
                          </div>
                          <input type="radio" id="radio1" class="hidden" name="options" checked>
                        </label>
                      </div>
                      <div class="col-md-3">
                        <label class="">
                          <div class="panel">
                            <div class="panel-heading">
                              <h3 class="panel-title">Semestral</h3>
                              <h6>INDIVIDUAL</h6>
                            </div>
                            <div class="panel-body">
                              <p class="precio">$189 <span>MXN</span></p>
                              <p class="tiempo">/mes</p>
                            </div>
                          </div>
                          <input type="radio" id="radio1" class="hidden" name="options" checked>
                        </label>
                      </div>
                      <div class="col-md-3">
                        <label class="">
                          <div class="panel">
                            <div class="panel-heading">
                              <h3 class="panel-title">Anual</h3>
                              <h6>INDIVIDUAL</h6>
                            </div>
                            <div class="panel-body">
                              <p class="precio">$169 <span>MXN</span></p>
                              <p class="tiempo">/mes</p>
                            </div>
                          </div>
                          <input type="radio" id="radio1" class="hidden" name="options" checked>
                        </label>
                      </div>
                    </div>
                    <p class="text-center">Con el plan anual cada mes puedes dar de baja a un paciente y dar de alta otro en su lugar</p>
                    <p class="descuento">
                      Si necesitas 10 cuentas o más, envíanos un correo a <a href="mailto:subscripciones@towi.com.mx">subscripciones@towi.com.mx</a>
                    <p class="form-group col-md-3">
                      <label for="">Número de licencias</label>
                      <select class="selectpicker" name="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                        <option value="">6</option>
                        <option value="">7</option>
                        <option value="">8</option>
                        <option value="">9</option>
                        <option value="">10</option>
                      </select>
                    </p>
                    <p class="form-group col-md-4">
                      <label for="">¿Cuentas con un cupón?</label>
                      <input type="text" name="" value="" class="form-control">
                    </p>
                    <div class="form-btns">
                      <button type="button" name="button" class="btn-action">
                        Continuar la compra
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}

{% block extra_importation %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock extra_importation %}
