<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TOWI</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Montserrat:400,800" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body id="login-wrapper">
    <header>
        {% if user.is_authenticated %}
            <p style="color: white;">{{request.user.email}}</p>
        {% else %}
         <button type="button" name="button" class="pull-right" id="form-menu">Iniciar Sesión</button>
        {% endif %}
    </header>
    {% if messages %}
      {% for message in messages %}
        {% if message.level == 25 %}
          <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p style="text-align:center">{{ message }}</p>
          </div>
        {% endif %}
        {% if message.level == 40 %}
          <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p style="text-align:center">{{ message }}</p>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  	<section>
      <div class="registro-bienvenida">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 603.9 182.1"><g class="towi-text"><path d="M377.7 69.1c-4.7-4.9-10.4-8.6-17-11.2 -6.6-2.6-14-3.9-22.1-3.9 -8 0-15.3 1.3-21.9 3.9 -6.6 2.6-12.3 6.3-16.9 11.1 -4.7 4.8-8.2 10.6-10.7 17.3 -2.5 6.8-3.7 14.2-3.7 22.3 0 8.1 1.2 15.4 3.7 22.1 2.5 6.7 6.1 12.4 10.8 17.3 4.8 4.9 10.4 8.6 16.9 11.3 6.5 2.6 13.8 3.9 21.9 3.9 8.2 0 15.6-1.3 22.1-3.9 6.6-2.6 12.2-6.3 16.9-11.2 4.7-4.9 8.3-10.7 10.8-17.4 2.5-6.8 3.7-14.1 3.7-22.1 0-8.1-1.2-15.4-3.7-22.1C386 79.7 382.5 73.9 377.7 69.1zM358 133.9c-4.8 6.1-11.3 9.2-19.4 9.2 -5.4 0-10-1.4-14-4.2 -4-2.8-7-6.8-9.1-12 -2.1-5.2-3.2-11.4-3.2-18.4 0-7.1 1.1-13.3 3.2-18.6 2.2-5.3 5.2-9.3 9.2-12 4-2.7 8.6-4.1 13.9-4.1 8.1 0 14.6 3 19.4 9.1s7.2 14.6 7.2 25.6C365.2 119.3 362.8 127.8 358 133.9z" class="a"/><path d="M546.7 53.9c-3.2 0-5.7 0.7-7.4 2.2 -1.7 1.5-2.9 3.2-3.6 5.1 -0.7 1.9-1.7 5.1-2.9 9.4l-17.7 60 -15.9-55.8c-1.6-5.6-2.9-9.5-3.8-11.8 -0.9-2.3-2.5-4.4-4.8-6.3 -2.3-1.9-5.4-2.9-9.4-2.9 -3.9 0-7 1-9.3 2.9 -2.3 1.9-3.8 4-4.6 6.1 -0.8 2.1-2.1 6.1-3.8 11.9l-15.9 55.8L430.1 70.7c-1.8-6.1-3.4-10.4-5-12.9 -1.6-2.5-4.6-3.8-9-3.8 -3.3 0-6.2 1.1-8.5 3.4 -2.3 2.3-3.4 4.9-3.4 7.8 0 2.3 1.1 6.5 3.2 12.5l21.7 64.3c0.6 1.7 1.4 4 2.5 6.9 1 2.9 2.3 5.4 3.6 7.6 1.4 2.1 3.1 3.8 5.2 4.9 2.1 1.1 4.6 1.7 7.5 1.7 5.8 0 9.8-1.9 12.1-5.6s4.4-9.2 6.4-16.5l14.9-52.3 15.3 52.3c1.3 4.7 2.5 8.6 3.6 11.5 1.1 3 2.8 5.4 5.2 7.5 2.3 2 5.5 3 9.6 3 3.9 0 7-1 9.3-2.9s3.9-4.1 5-6.5c1-2.4 2.5-6.4 4.4-11.8l21.9-64.3c2-5.6 3-9.7 3-12.5 0-3-1.2-5.6-3.5-7.9C552.7 55.1 549.9 53.9 546.7 53.9z" class="a"/><path d="M581.1 38c2.7 2.3 5.9 3.4 9.6 3.4 3.6 0 6.7-1.2 9.3-3.5 2.6-2.3 3.9-5.6 3.9-9.7 0-4.3-1.3-7.5-4-9.7 -2.7-2.2-5.8-3.3-9.2-3.3 -3.6 0-6.8 1.2-9.5 3.7 -2.7 2.5-4.1 5.6-4.1 9.4C577.1 32.5 578.4 35.7 581.1 38z" class="a"/><path d="M590.4 53.9c-3.9 0-7.1 1.3-9.6 4 -2.5 2.7-3.7 6.7-3.7 12v76.8c0 5.2 1.2 9.3 3.7 12.1 2.5 2.8 5.7 4.2 9.6 4.2 3.9 0 7.2-1.4 9.7-4.1 2.6-2.8 3.8-6.8 3.8-12.2V69.2c0-4.8-1.3-8.5-3.8-11.2C597.5 55.3 594.3 53.9 590.4 53.9z" class="a"/><path d="M270.2 59c-2-1.8-4.9-2.7-8.7-2.7h-9.8V38c0-4.5-0.2-8-0.7-10.5s-1.7-4.5-3.5-6.2c-2.8-2.6-5.8-3.8-9.2-3.8 -2.4 0-4.6 0.6-6.6 1.7 -2 1.1-3.5 2.6-4.5 4.5 -1 1.8-1.7 3.9-1.9 6.3 -0.2 2.5-0.3 5.9-0.3 10.2v16.1h-3c-4.1 0-7.2 0.9-9.3 2.7 -2.1 1.8-3.2 4.1-3.2 6.9 0 2.8 1 5.1 3 7 2 1.8 5 2.8 8.9 2.8h3.5v51.5c0 1.1 0 2.2 0 3.2v16.4c0 5.2 1.2 9.3 3.7 12.1 2.5 2.8 5.7 4.2 9.6 4.2 3.9 0 7.2-1.4 9.7-4.1s3.8-6.8 3.8-12.2V75.7h5c5.3 0 9.4-0.7 12.2-2.2 2.9-1.4 4.3-4 4.3-7.6C273.2 63.1 272.2 60.8 270.2 59z" class="a"/></g><g class="towi-paths"><path d="M36 91c0-5.8 2.1-11.2 5.7-15.3L7 41.2C5 42.7 2.6 43.6 0 43.6v122c0 12.6 13.7 20.5 24.6 14.2l12.4-7.1c-1.1-1.8-1.7-3.9-1.7-6.1 0-6.6 5.3-11.9 11.9-11.9 0.1 0 0.3 0 0.4 0l6.5-40.8C43.7 111.5 36 102.1 36 91z" class="towi-path-left"/><path d="M11.8 31.7c0 2.7-0.9 5.2-2.4 7.2l34.7 34.5c4.1-3.6 9.5-5.8 15.4-5.8 9.2 0 17.2 5.4 21.1 13.1l37.3-15.2c-0.2-0.9-0.3-1.9-0.3-2.8 0-2.2 0.6-4.2 1.6-5.9L24.6 2.2C13.7-4.1 0 3.8 0 16.4v3.3C6.5 19.8 11.8 25.1 11.8 31.7z" class="towi-path-top"/><path d="M153.8 76.8l-14.1-8.2c-2.1 3.6-5.9 5.9-10.3 5.9 -4.4 0-8.3-2.4-10.3-6L81.7 83.8c0.7 2.3 1.1 4.7 1.1 7.2 0 12.9-10.5 23.4-23.4 23.4 -0.7 0-1.3 0-2-0.1l-6.5 40.9c2.9 0.9 5.3 2.9 6.7 5.5l96.2-55.6C164.7 98.9 164.7 83.1 153.8 76.8z" class="towi-path-right"/></g></svg>
        <p>¡Descubre todo lo que tu hijo puede lograr con Towi!</p>
        <h2>
          <button type="button" name="button" class="btn" id="registro-btn">Registrate ahora</button>
        </h2>
        {% if login == True %}
            <div class="login" style="display: block;"></div>
        {% else %}
            <div class="login">
        {% endif %}

         <h3>Inicia Sesión</h3>
          <form role="form" method="POST">
              <input type="hidden" name="action" value="login">
              {% csrf_token %}
            <p>
              <label for="email">Correo electrónico</label>
              {{form.email}}
            </p>
            <p>
              <label for="password">Contraseña</label>
              {{form.password}}
            </p>

            <p class="btn-container">
              <!-- Button -->
              <button id="btn-login" type="submit" class="btn">Iniciar sesión</button>
            </p>
            <a href="#" id="forget-pass">¿Olvidaste tu contraseña?</a>
          </form>
        </div>
        <div id="form-new-password">
          <h3>¿Olvidaste tu contraseña?</h3>
          <p class="inst">Escribe tu correo electrónico, te enviaremos una nueva</p>
          <form role="form">
            <p>
              <label for="email">Correo electrónico</label>
              <input type="text" class="form-control" name="email" required/>
            </p>
            <p class="btn-container">
              <!-- Button -->
              <button type="button" class="btn">Enviar</button>
            </p>
          </form>
        </div>
      </div>
      <div id="overlay-back"></div>
      <div id="overlay">
        <a href="#" id="form-close-id" class="form-close"></a>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="mainbox">
                <h3>¿Para qué utilizarás esta cuenta?</h3>
                <!-- Nav tabs -->
                <ul class="" role="tablist">
                  <li role="presentation" class="">
                    <a href="#familiar" aria-controls="familiar" role="tab" data-toggle="tab">
                      <img src="http://placehold.it/80x80" alt="" class="img-circle">
                      <span>Entrenamiento de mi hijo o familiar</span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#pacientes" aria-controls="pacientes" role="tab" data-toggle="tab">
                      <img src="http://placehold.it/80x80" alt="" class="img-circle">
                      <span>Seguimiento de mis pacientes</span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#alumnos" aria-controls="alumnos" role="tab" data-toggle="tab">
                      <img src="http://placehold.it/80x80" alt="" class="img-circle">
                      <span>Seguimiento de mis alumnos</span>
                    </a>
                  </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane fade" id="familiar">
                    <form class="form-horizontal" role="form"  method="POST">
                        <input type="hidden" name="action" value="registro_familiar">
                        {% csrf_token %}
                      <p>
                        <label for="firstname">Nombre</label>
                        {{registerForm.first_name}}
                      </p>
                      <p>
                        <label for="firstname">Apellidos</label>
                        {{registerForm.last_name}}
                      </p>
                      <p>
                        <label for="firstname">Nombre del niño</label>
                        {{registerForm.child_name}}
                      </p>
                      <p>
                        <label for="email">Correo electrónico</label>
                        {{registerForm.email}}
                      </p>
                      <p>
                        <label for="password">Contraseña</label>
                        {{registerForm.password}}
                      </p>
                      <p class="btn-container">
                        <!-- Button -->
                        <button id="btn-signup" type="submit" class="btn">Registrarse</button>
                      </p>
                    </form>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="pacientes">
                    <form class="form-horizontal" role="form"  method="POST">
                        <input type="hidden" name="action" value="registro_pacientes">
                        {% csrf_token %}
                        <p>
                          <label for="firstname">Nombre</label>
                          {{registerForm.first_name}}
                        </p>
                        <p>
                          <label for="firstname">Apellidos</label>
                          {{registerForm.last_name}}
                        </p>
                      <p>
                        <label for="email">Correo electrónico</label>
                        {{registerForm.email}}
                      </p>
                      <p>
                        <label for="tel">Número de teléfono (opcional solo numeros)</label>
                        {{registerForm.phone}}
                      </p>
                      <p>
                        <label for="password">Contraseña</label>
                        {{registerForm.password}}
                      </p>
                      <p class="btn-container">
                        <!-- Button -->
                        <button id="btn-signup" type="submit" class="btn">Registrarse</button>
                      </p>
                    </form>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="alumnos">
                    <form class="form-horizontal" role="form"  method="POST">
                        <input type="hidden" name="action" value="registro_alumnos">
                        {% csrf_token %}
                      <p>
                        <label for="firstname">Tu nombre</label>
                        {{registerForm.first_name}}
                      </p>
                      <p>
                        <label for="colegio">Nombre del colegio o centro</label>
                        {{registerForm.last_name}}
                      </p>
                      <p>
                        <label for="email">Correo electrónico</label>
                        {{registerForm.email}}
                      </p>
                      <p>
                        <label for="tel">Número de teléfono (opcional solo numeros)</label>
                        {{registerForm.phone}}
                      </p>
                      <p>
                        <label for="password">Contraseña</label>
                        {{registerForm.password}}
                      </p>
                      <p class="btn-container">
                        <!-- Button -->
                        <button id="btn-signup" type="submit" class="btn">Registrarse</button>
                      </p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  	</section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript">
      $('#form-menu').click(function () {
        $('.login').fadeIn(500);
      });

      $('#forget-pass').click(function () {
        $('.login').css("display", "none");
        $('#form-new-password').css("display", "block");
      });

      $('#registro-btn').click(function () {
        $('#overlay, #overlay-back').fadeIn(500);
      });

      $("#form-close-id").click(function () {
          $("#overlay, #overlay-back").css("display", "none");
      });

      $('#registro-btn').click(function(){
        if($('.registro-bienvenida').hasClass('active')) {
          $('.registro-bienvenida').removeClass('active');
        }
        else {
          $('.registro-bienvenida').addClass('active');
        }
      });

      $('#form-close-id').click(function(){
        $('.registro-bienvenida').removeClass('active');
      });
    </script>
  </body>
</html>
