{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

{% if messages %}
{% for message in messages %}
{% if message.level == 25 %}
    <div class="alert alert-success">
    {{ message }}
    </div>
{% endif %}
{% if message.level == 40 %}
    <div class="alert alert-danger">
    {{ message }}
    </div>
{% endif %}
{% endfor %}
{% endif %}

    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="navbar" style="position: relative">
              <div class="dropdown pull-left">
                <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Todos los pacientes
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li>
                        <a class="selectedGroup" id="0">Todos los pacientes</a>
                    </li>
                    {% for group in groups %}
                        <li>
                          <a class="selectedGroup" id="{{group.id}}">{{group.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
              </div>
              <div class="pull-right">
                <a href="/add-patient">
                    <button type="button">
                      <i class="fa fa-plus-circle"></i> Agregar paciente
                    </button>
                </a>
              </div>
            </div>
            <div class="lista-pacientes">
              <ul class="panel-list">
                  {% if childrens %}
                  {% for children in childrens %}
                  <li>
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <img src="{{children.picture.url}}" alt="" class="img-circle pull-left avatar80">
                        <p class="pull-left">{{children}}</p>
                        <div class="dropdown pull-right">
                          <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Escoge una opción
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li>
                              <a href="{% url "reports" id=children.id %}">Ver reportes</a>
                            </li>
                            <li>
                              <a href="{% url "edit-info" id=children.id %}">Editar información</a>
                            </li>
                            <li>
                              <a href="{% url "invite-parent" id=children.id %}">Invitar a padre o tutor</a>
                            </li>
                            <li>
                              <a href="#" data-toggle="modal" data-target="#darBaja-{{children.id}}">Dar de baja</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                  {% elif childs %}
                  <h3> Pacientes Vinculados </h3>
                  {% for child in childs %}
                  <li>
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <img src="{{child.picture.url}}" alt="" class="img-circle pull-left avatar80">
                        <p class="pull-left">{{child}}</p>
                        <div class="dropdown pull-right">
                          <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Escoge una opción
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li>
                              <a href="{% url "reports" id=child.id %}">Ver reportes</a>
                            </li>
                            <li>
                              <a href="{% url "edit-info" id=child.id %}">Editar información</a>
                            </li>
                            <li>
                              <a href="{% url "invite-parent" id=child.id %}">Invitar a padre o tutor</a>
                            </li>
                            <li>
                              <a href="#" data-toggle="modal" data-target="#darBaja-{{child.id}}">Dar de baja</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                  {% else %}
                  <p>No hay pacientes registrados</p>
                  {% endif %}

              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% for child in childrens %}
        <div class="modal fade deleteChild" id="darBaja-{{child.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                  </button>
                  <h3>¿Estás seguro que quieres eliminar este paciente?</h3>
                  <p>Si eliminas al paciente no podras recuperar su información.</p>
                </div>
                <form method="post" class="form-agregar-paciente">
                        {% csrf_token %}
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      <button type="submit" name="eliminarPaciente" value="{{child.id}}" class="btn btn-danger eliminarPaciente">Aceptar</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
    {% endfor %}
    <form name="formulario" id="formi" method="post">
        {% csrf_token %}
        <input type="hidden" name="groupId" class="groupSelected" value="">
    </form>
{% endblock content %}

{% block extra_importation %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock extra_importation %}
