{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="edit-container">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel registrar-paciente">
                <div class="panel-body">
                  <h4 class="text-center">Registrar <b>Paciente</b></h4>
                  <p class="first-p">El paciente que registrarás a continuación, ocupará durante <b>el resto del mes una de las suscripciones</b> que adquiriste. Puedes darlo de baja el próximo mes.</p>
                  <p>Por favor escribe los datos de tu paciente a continuación</p>
                  <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-datos clearfix">
                      <p class="form-group col-md-4">
                        <label for="">Nombre(s)*</label>
                        <input type="text" name="name" value="" class="form-control" required>
                      </p>
                      <p class="form-group col-md-4">
                        <label for="">Apellido paterno*</label>
                        <input type="text" name="f_last" value="" class="form-control" required>
                      </p>
                      <p class="form-group col-md-4">
                        <label for="">Apellido materno*</label>
                        <input type="text" name="s_last" value="" class="form-control" required>
                      </p>
                      <p class="form-group col-md-6">
                        <label for="">Fecha de nacimiento</label>
                        <input type="date" name="dob" value="" class="form-control" required>
                      </p>
                      <p class="col-md-3">
                        <label for="">Género</label>
                        <select class="selectpicker" name="gender">
                          <option value="masculino">Masculino</option>
                          <option value="femenino">Femenino</option>
                        </select>
                      </p>
                      <p class="col-md-3">
                        <label for="">Grado Escolar</label>
                        <select class="selectpicker" name="grade">
                          <option value="kinder">Kinder</option>
                          <option value="preprimaria">Preprimaria</option>
                          <option value="1º Primaria">1º Primaria</option>
                          <option value="2º Primaria">2º Primaria</option>
                          <option value="3º Primaria">3º Primaria</option>
                          <option value="4º Primaria">4º Primaria</option>
                          <option value="5º Primaria">5º Primaria</option>
                          <option value="6º Primaria">6º Primaria</option>
                          <option value="otro">Otro</option>
                        </select>
                      </p>
                    </div>
                    <div class="form-imagen clearfix">
                      <p>Imagen</p>
                      <p>Puedes <label class="btn btn-default btn-file">
                        Subir una imagen <input type="file" name="image" style="display:none;" accept="image/*" hidden>
                      </label></p>
                      <p>ó seleccionar uno de los siguientes avatares:</p>
                      <div class="form-avatares">
                        <label class="active">
                          <img src="{% static 'i/avatar-1-g.png' %}" alt="" class="img-circle">
                          <input type="radio" id="radio1" value="avatar-1-g-150" class="hidden" name="options" checked>
                        </label>
                        <label>
                          <img src="{% static 'i/avatar-2-g.png' %}" alt="" class="img-circle">
                          <input type="radio" id="radio2" class="hidden" name="options" value="avatar-2-g-150">
                        </label>
                        <label>
                          <img src="{% static 'i/avatar-3-g.png' %}" alt="" class="img-circle">
                          <input type="radio" id="radio3" class="hidden" name="options" value="avatar-3-g-150">
                        </label>
                        <label>
                          <img src="{% static 'i/avatar-1-b.png' %}" alt="" class="img-circle">º
                          <input type="radio" id="radio4" class="hidden" name="options" value="avatar-1-b-150">
                        </label>
                        <label>
                          <img src="{% static 'i/avatar-2-b.png'%}" alt="" class="img-circle">
                          <input type="radio" id="radio5" class="hidden" name="options", value="avatar-2-b-150">
                        </label>
                        <label>
                          <img src="{% static 'i/avatar-3-b.png' %}" alt="" class="img-circle">
                          <input type="radio" id="radio6" class="hidden" name="options" value="avatar-3-b-150">
                        </label>
                      </div>
                    </div>
                    <div class="form-btns">
                      <button type="submit" name="button" class="btn-action">
                        Registrar paciente
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}

{% block extra_importation %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock extra_importation %}
