{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="info-cuenta">
            <div class="col-md-12">
              <div class="panel">
                <div class="panel-body">
                    <div class="col-md-4">
                        <img src="{{children.picture.url}}" alt="" class="img-responsive img-circle">
                        <h3 class="text-center">{{children.full_name}}</h3>
                        <p class="p-title text-center">Información de la cuenta:</p>
                    </div>
                    <div class="col-md-4">
                        <ul>
                          <li><span>Edad: </span>{{children.age}} años</li>
                          <li><span>Diagnóstico: </span>{{children.diagnostic}}</li>
                          <li><span>Ciclo escolar: </span> {{children.grade}}</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                     <ul>
                       <li><span>Clave de seguimiento: </span> {{vid.link_id}}</li>
                       <li><span>Correo para entrenamiento: </span>{{children.user.email}}</li>
                       <li><span>Activo desde: </span>{{children.register_date}}</li>
                     </ul>
                    </div>
                    <div class="col-md-12">
                    <div class="col-md-4">
                        <a href="/edit-info/{{children.id}}" class="btn btn-action">Editar información</a><br>
                    </div>
                    <div class="col-md-4">
                        <a href="/invite-parent/{{children.id}}" class="btn btn-action">Invitar a Padre o Tutor</a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="btn btn-action" data-toggle="modal" data-target="#deletePatient">Dar de baja</a>
                    </div>
                    </div>
            </div>
            </div>
            </div>
            <div class="col-md-12">
              <div class="panel">
                <div class="panel-body">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#progreso" aria-controls="progreso" role="tab" data-toggle="tab">Progreso</a></li>
                <li role="presentation"><a href="/pruebas/{{children.id}}" target="_blank">Evaluaciones</a></li>
              </ul>
              <div class="tab-content">
                <!-- tab progreso -->
                <div role="tabpanel" class="tab-pane active" id="progreso">
                    <div id="towiCalendar"></div>
                    <canvas id="progresoChart"></canvas>
                    <h3 class="p-title">Detalle de las sesiones</h3>

                    <!-- collapse -->
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                      {% for ds in days %}
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingDetail{{ds.count}}">
                          <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#detail{{ds.count}}" aria-expanded="false" aria-controls="detail{{ds.count}}">
                              <i class="fa fa-caret-up"></i>  Fecha: {{ds.date}}
                            </a>
                          </h4>
                        </div>
                        <div id="detail{{ds.count}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDetail{{ds.count}}">
                          <div class="panel-body">
                            {% for game in ds.games %}
                            {% if game.gamekey == 'ArbolMusical' %}
                                {% if game.levels %}
                                <div class="sesion-table">
                                  <div class="well well-sm arbol">
                                    <p class="text-center"><span>Árbol Musical | Niveles Superados: {{game.passedlevels}} | Niveles Jugados: {{game.playedlevels}}  | Tiempo: {{game.gametime}} seg.</span></p>
                                  </div>
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>Pajaros</th>
                                        <th>Nidos</th>
                                        <th>Sonido Correcto:</th>
                                        <th>Sonidos de pájaros de izq a der:</th>
                                        <th>Veces que escuchó cada pájaro antes de empezar:</th>
                                        <th>Veces que escuchó cada pájaro después de oir los sonidos a recordar:</th>
                                        <th>Aciertos:</th>
                                        <th>Errores:</th>
                                        <th>Tiempo:</th>
                                        <th>Nivel:</th>
                                        <th>Subnivel:</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        {% for level in game.levels %}
                                      <tr>
                                        <td>{{level.birds}}</td>
                                        <td>{{level.nests}}</td>
                                        <td>{{level.sound}}</td>
                                        <td>{{level.birdsound}}</td>
                                        <td>{{level.birdlistenedpre}}</td>
                                        <td>{{level.birdlistened}}</td>
                                        <td>{{level.correct}}</td>
                                        <td>{{level.errors}}</td>
                                        <td>{{level.time}} seg.</td>
                                        <td>{{level.level}}</td>
                                        <td>{{level.sublevel}}</td>
                                      </tr>
                                      {% endfor %}

                                    </tbody>
                                  </table>
                                </div>
                                {% endif %}

                            {% elif game.gamekey == 'ArenaMagica' %}
                              {% if game.levels %}
                                <div class="sesion-table">
                                  <div class="well well-sm arena">
                                      <p class="text-center"><span>Arena Mágica | Niveles Superados: {{game.passedlevels}} | Niveles Jugados: {{game.playedlevels}}  | Tiempo: {{game.gametime}} seg.</span></p>
                                  </div>
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>Repitío</th>
                                        <th>Paso</th>
                                        <th>Exactitud</th>
                                        <th>Tiempo:</th>
                                        <th>Nivel:</th>
                                        <th>Subnivel:</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for level in game.levels %}
                                      <tr>
                                        <td>{% if level.repeated == 0 %}No{%else%}Si{% endif %}</td>
                                        <td>{% if level.passed == 0 %}No{%else%}Si{% endif %}</td>
                                        <td>{{level.accuracy}}</td>
                                        <td>{{level.time}} seg.</td>
                                        <td>{{level.level}}</td>
                                        <td>{{level.sublevel}}</td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                                  </table>
                                </div>
                                {% endif %}
                            {% elif game.gamekey == 'DondeQuedoLaBolita' %}
                              {% if game.levels %}
                                <div class="sesion-table">
                                  <div class="well well-sm bolita">
                                      <p class="text-center"><span>¿Dondé quedó la bolita? | Niveles Superados: {{game.passedlevels}} | Niveles Jugados: {{game.playedlevels}}  | Tiempo: {{game.gametime}} seg.</span></p>
                                  </div>
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>Monos</th>
                                        <th>Objetos</th>
                                        <th>Movimientos</th>
                                        <th>Duracion del intercambio</th>
                                        <th>Tiempo:</th>
                                        <th>Nivel:</th>
                                        <th>Subnivel:</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for level in game.levels %}
                                      <tr>
                                        <td>{{level.numofmonkeys}}</td>
                                        <td>{{level.numofobjects}}</td>
                                        <td>{{level.numofmovements}}</td>
                                        <td>{{level.timeofmovements}}</td>
                                        <td>{{level.time}} seg.</td>
                                        <td>{{level.level}}</td>
                                        <td>{{level.sublevel}}</td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                                  </table>
                                </div>
                              {% endif %}
                            {% elif game.gamekey == 'Tesoro' %}
                              {% if game.levels %}
                                <div class="sesion-table">
                                  <div class="well well-sm tesoro">
                                      <p class="text-center"><span>Recolección del Tesoro | Niveles Superados: {{game.passedlevels}} | Niveles Jugados: {{game.playedlevels}}  | Tiempo: {{game.gametime}} seg.</span></p>
                                  </div>
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>No. de objetos solicitados</th>
                                        <th>Distractores</th>
                                        <th>Objetos correctos</th>
                                        <th>Tiempo:</th>
                                        <th>Nivel:</th>
                                        <th>Subnivel:</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for level in game.levels %}
                                      <tr>
                                        <td>{{level.correctobjectsquantity}}</td>
                                        <td>{{level.spawneddistractors}}</td>
                                        <td>{{level.playerobjectsquantity}}</td>
                                        <td>{{level.time}} seg.</td>
                                        <td>{{level.level}}</td>
                                        <td>{{level.sublevel}}</td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                                  </table>
                                </div>
                              {% endif %}
                            {% elif game.gamekey == 'Rio' %}
                              {% if game.levels %}
                                <div class="sesion-table">
                                  <div class="well well-sm rio">
                                      <p class="text-center"><span>Río Tropical | Niveles Superados: {{game.passedlevels}} | Niveles Jugados: {{game.playedlevels}}  | Tiempo: {{game.gametime}} seg.</span></p>
                                  </div>
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>Velocidad</th>
                                        <th>Objetos correctos</th>
                                        <th>Objetos incorrectos </th>
                                        <th>Tiempo:</th>
                                        <th>Nivel:</th>
                                        <th>Subnivel:</th>
                                        <th>Instrucción:</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for level in game.levels %}
                                      <tr>
                                        <td>{{level.speed}}</td>
                                        <td>{{level.correctobjects}}</td>
                                        <td>{{level.incorrectobjects}}</td>
                                        <td>{{level.time}} seg.</td>
                                        <td>{{level.level}}</td>
                                        <td>{{level.sublevel}}</td>
                                        <td>Pendiente</td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                                  </table>
                                </div>
                              {% endif %}
                            {% elif game.gamekey == 'JuegoDeSombras' %}
                              {% if game.levels %}
                                <div class="sesion-table">
                                  <div class="well well-sm silueta">
                                      <p class="text-center"><span>El show de la silueta | Niveles Superados: {{game.passedlevels}} | Niveles Jugados: {{game.playedlevels}}  | Tiempo: {{game.gametime}} seg.</span></p>
                                  </div>
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>Sombra a reconocer:</th>
                                        <th>Tiempo de la sombra:</th>
                                        <th>Opciones Disponibles:</th>
                                        <th>Objetos correctos: </th>
                                        <th>Tiempo:</th>
                                        <th>Nivel:</th>
                                        <th>Subnivel:</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for level in game.levels %}
                                      <tr>
                                        <td>{{level.shadow}}</td>
                                        <td>{{level.shadowtime}}</td>
                                        <td>{{level.options}}</td>
                                        <td>{{level.correct}}</td>
                                        <td>{{level.time}} seg.</td>
                                        <td>{{level.level}}</td>
                                        <td>{{level.sublevel}}</td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                                  </table>
                                </div>
                              {% endif %}
                            {% endif %}
                        {% endfor %}
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                      <div class="pagination">
                        <span class="step-links">
                            {% if days.has_previous %}
                                <a href="?page=1"  class="btn btn-info" role="button">&laquo; Primera</a>
                                <a href="?page={{ days.previous_page_number }}" class="btn btn-info" role="button">Anterior</a>
                            {% endif %}
                            <span class="current">
                                Página {{ days.number }} de {{ days.paginator.num_pages }}.
                            </span>
                            {% if days.has_next %}
                                <a href="?page={{ days.next_page_number }}"  class="btn btn-info" role="button">Siguiente</a>
                                <a href="?page={{ days.paginator.num_pages }}" class="btn btn-info" role="button" >Última &raquo;</a>
                            {% endif %}
                        </span>
                      </div>
                  </div>
                </div>
                <!-- tab evaluaciones -->
                <div role="tabpanel" class="tab-pane" id="evaluaciones">
                  <div class="panel">
                    <div class="panel-body">
                      <h3>Resultados de evaluación Towi</h3>
                      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                      <!--<p>Si lo deseas, puedes pedir a un papá o profesor que responda el BRIEF de tu paciente, sus respuestas quedarán guardadas en el expediente de tu paciente.</p>
                      <div class="btns-brief">
                        <button type="button" name="button" class="btn btn-action">Responder ahora</button>
                        <button type="button" name="button" class="btn btn-action">Enviar por correo</button>
                    </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </div>
        </div>
       </div>
      </div>
    </section>
    {{am_ti}}
    <!-- Modal -->
    <div class="modal fade" id="deletePatient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h3>¿Estás seguro que quieres eliminar este paciente?</h3>
            <p>Si eliminas al paciente no podras recuperar su información.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block extra_importation %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="{% static 'js/zabuto_calendar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/calendario.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/diagramas.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script>
    $(document).ready(function () {
      $.ajax({
        url: '/get_graph/',
        headers: {
             'x-csrftoken': $().get_csrf()
        },
        data: {
          'child_id': window.location.href.split("/").pop(),
        },
        dataType: 'json',
        success: function (data) {
            console.log(data)
            console.log(data.am_ti)
            Render(data)
        }
      });
    });

    function Render (data) {
        let ctx = document.getElementById("progresoChart").getContext('2d');
        function hoursEarlier(hours) {
          return  new Date(0).setUTCSeconds(hours)
        };
        let speedData = {
          labels: [hoursEarlier(data.minValue), hoursEarlier(data.maxValue)],
          datasets: [{
            label: "Arbol Musical",
            data: data.am_ti.map(function (v) {
                v.x = hoursEarlier(v.x)
                return v
            }),
            fill: false,
            borderColor: "#3e95cd",
            backgroundColor: 'transparent',
            pointStyle: 'rectRounded'
        },
          {
            label: "Arena Magica",
            data: data.arm_ti.map(function (v) {
                v.x = hoursEarlier(v.x)
                return v
            }),
            lineTension: 0.25,
            fill: false,
            borderColor: 'orange',
            backgroundColor: 'transparent',
            pointBorderColor: 'orange',
            pointBackgroundColor: 'rgba(255,150,0,0.5)',
            borderDash: [5, 5],
            pointRadius: 5,
            pointHoverRadius: 10,
            pointHitRadius: 30,
            pointBorderWidth: 2,
            pointStyle: 'rectRounded'
        },
          {
            label: "Donde quedó la bolita",
            data: data.dqlb_ti.map(function (v) {
                v.x = hoursEarlier(v.x)
                return v
            }),
            lineTension: 0.25,
            fill: false,
            borderColor: 'blue',
            backgroundColor: 'transparent',
            pointBorderColor: 'blue',
            pointBackgroundColor: 'rgba(57,57,213,1)',
            borderDash: [5, 5],
            pointRadius: 5,
            pointHoverRadius: 10,
            pointHitRadius: 30,
            pointBorderWidth: 2,
            pointStyle: 'rectRounded'
        },
          {
            label: "Recolección del tesoro",
            data: data.rdt_ti.map(function (v) {
                v.x = hoursEarlier(v.x)
                return v
            }),
            lineTension: 0.25,
            fill: false,
            borderColor: 'purple',
            backgroundColor: 'transparent',
            pointBorderColor: 'purple',
            pointBackgroundColor: 'rgba(135,57,213,1)',
            borderDash: [5, 5],
            pointRadius: 5,
            pointHoverRadius: 10,
            pointHitRadius: 30,
            pointBorderWidth: 2,
            pointStyle: 'rectRounded'
        },
          {
            label: "Río Tropical",
            data: data.rio_ti.map(function (v) {
                v.x = hoursEarlier(v.x)
                return v
            }),
            lineTension: 0.25,
            fill: false,
            borderColor: 'red',
            backgroundColor: 'transparent',
            pointBorderColor: 'red',
            pointBackgroundColor: 'rgba(213,57,57,1)',
            borderDash: [5, 5],
            pointRadius: 5,
            pointHoverRadius: 10,
            pointHitRadius: 30,
            pointBorderWidth: 2,
            pointStyle: 'rectRounded'
        },
          {
            label: "El show de la silueta",
            data: data.sh_ti.map(function (v) {
                v.x = hoursEarlier(v.x)
                return v
            }),
            lineTension: 0.25,
            fill: false,
            borderColor: 'pink',
            backgroundColor: 'transparent',
            pointBorderColor: 'pink',
            pointBackgroundColor: 'rgba(193,66,66,0.2)',
            borderDash: [5, 5],
            pointRadius: 5,
            pointHoverRadius: 10,
            pointHitRadius: 30,
            pointBorderWidth: 2,
            pointStyle: 'rectRounded'
        }]
        };
        let chartOptions = {
          legend: {
            display: true,
            position: 'top',
            labels: {
              boxWidth: 80,
              fontColor: 'black'
            }
          },
          scales: {
            xAxes: [{
              type: "time",
              time: {
                unit: 'month',
                unitStepSize: 0.5,
                round: 'month',
                tooltipFormat: "ll",
                displayFormats: {
                  month: 'MMM YYYY'
                }
              }
            }],
            yAxes: [{
              gridLines: {
                color: "black",
                borderDash: [2, 5],
              },
              scaleLabel: {
                display: true,
                fontColor: "green"
              }
            }]
          }
        };
        let myChart = new Chart(ctx, {
            type: 'line',
            data: speedData,
            options: chartOptions
        });
    }
    </script>
{% endblock extra_importation %}
