{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

{% if messages %}
{% for message in messages %}
{% if message.level == 25 %}
    <div class="alert alert-success">
    {{ message }}
    </div>
{% endif %}
{% if message.level == 40 %}
    <div class="alert alert-danger">
    {{ message }}
    </div>
{% endif %}
{% endfor %}
{% endif %}

    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="edit-container">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel registrar-paciente">
                <div class="panel-body">
                  <h4 class="text-center">Seguir <b>Paciente</b></h4>
                  <p class="first-p">Te recordamos que solo puedes seguir cuentas que ya <b>han sido compradas</b> y que éstas no tienen <b>ningun costo adicional</b> para ti</p>
                  <p>Por favor escribe los datos de la cuenta que quieres seguir a continuación</p>
                  <form class="clearfix" action="" method="post">
                      {% csrf_token %}
                    <p class="form-group col-md-8">
                      <label for="">E-mail</label>
                      {{form.email}}
                    </p>
                    <p class="form-group col-md-4">
                      <label for="">Clave de seguimiento</label>
                      {{form.link_id}}
                    </p>
                    <div class="form-btns">
                      <button type="submit" name="button" class="btn-action">
                        Seguir paciente
                      </button>
                    </div>
                  </form>
                  <p class="last-p text-center">En caso de que la cuenta de tu paciente no haya sido comprada, haz click en <a href="#">Registrar Paciente</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}

{% block extra_importation %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock extra_importation %}
